extends layout

block content
    h1= title
    p Welcome to #{title}
    form
        input(type="text" id="message")
        input(type="submit" value="送信")
        input(type="reset" value="リセット")
        input(type="button" name="'go':'10'" value="go")
        input(type="button" name="'roll':'10'" value="roll")
    div
        ul(id="messageList")
    script(type='text/javascript' src='../public/js_client/index.js')
