extends layout

block content
    h1= title
    p Welcome to #{title}
    form
        input(type="text" id="message")
        input(type="button" value="送信" id="send")
        input(type="reset" value="リセット" id="reset")
        input(type="button" value="go" id="go")
        input(type="button" value="roll" id="roll")
    div
        ul(id="messageList")
    script(type='text/javascript' src='/js_client/index.js')
