extends layout

block content
    form
        label ID:
        input(type="text" name="textbox" id="message")
    div
        button(type="button" id="inputname" style="position: absolute; left: 30%; top: 20%") 決定
        button(type="button" id="send" style="position: absolute; left: 50%; top: 65%") 送信
        button(type="button" id="subsend" style="position: absolute; left: 50%; top: 60%") デモンストレーション
        button(type="button" id="reset" style="position: absolute; left: 50%; top: 80%") リセット
        button(type="button" id="onereturn" style="position: absolute; left: 50%; top: 30%") １つ戻る
        button(type="button" id="go" style="position: absolute; left: 30%; top: 30%") 進む
        button(type="button" id="left45" style="position: absolute; left: 35%; top: 30%") 左回り
        button(type="button" id="right45" style="position: absolute; left: 40%; top: 30%") 右回り
    div
        ul(id="messageList" style="position: absolute; top: 10%")
    div
        button(type="button" id="onereturnEvent" style="position: absolute; left: 50%; top: 50%") １つ戻る
        button(type="button" id="goEvent" style="position: absolute; left: 30%; top: 50%") 進む
        button(type="button" id="left45Event" style="position: absolute; left: 35%; top: 50%") 左回り
        button(type="button" id="right45Event" style="position: absolute; left: 40%; top: 50%") 右回り
    div
        ul(id="hitEventList" style="position: absolute; top: 40%")
    script(type='text/javascript' src='/js_client/index.js')
