extends layout

block content
    h1= title
    p Welcome to #{title}
    form
        input(type="text" id="message")
    div
        button(type="button" value="送信" id="send")
        button(type="button" value="リセット" id="reset")
        button(type="button" value="進む" id="go")
        button(type="button" value="回転" id="roll")
    div
        ul(id="messageList")
    script(type='text/javascript' src='/js_client/index.js')
