extends layout

block content
    h1= title
    p Welcome to #{title}
    form
        label ID:
        input(type="text" name="textbox" id="message")
    div
        button(type="button" value="送信" id="send") 送信
        button(type="button" value="リセット" id="reset") リセット
        button(type="button" value="進む" id="go") 進む
        button(type="button" value="回転" id="roll") 回転
    div
        ul(id="messageList")
    script(type='text/javascript' src='/js_client/index.js')
