extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        input(type="text" id="message")
    div
        ul(id="messageList")
    script(type='text/javascript').
      window.onload = function () {
        var message = document.getElementById('message');
        var onKeyPress = function (e) {
          if (e.key !== 'Enter') return;
          if (e.shiftKey || e.ctrlKey || e.altKey) return;
          socket.emit('message', JSON.stringify({text: message.value}));
        };
        message.addEventListener('keypress', onKeyPress);
      };