extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas(id="tutorial" width=windowW height=windowH)
  script(type='text/javascript' src='/js_screen/index.js')
  script.
    var windowW, windowH = 0;
    getWindowSize();
    function getWindowSize() {
        windowW = window.innerWidth;
        windowH = window.innerHeight;
    }