body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button{
  cursor: pointer;
}
button.send {
  background-color: blue;
  color: #fff;
  padding: 7px 61px;
  border-style: none;
}
button.send:hover {
  background-color: DodgerBlue;
  color: #f0f0f0;
  border-style: none;
}
button.subsend {
  background-color: green;
  color: #fff;
  padding: 7px 8px;
  border-style: none;
}
button.subsend:hover {
  background-color: MediumSeaGreen;
  color: #f0f0f0;
  border-style: none;
}
button.reset {
  background-color: red;
  color: #fff;
  padding: 7px 48px;
  border-style: none;
}
button.reset:hover {
  background-color: OrangeRed;
  color: #f0f0f0;
  border-style: none;
}
button.button1 {
  background-color: gray;
  color: #000;
  padding: 7px 14px;
  border-style: none;
}
button.button1:hover {
  background-color: DarkGray;
  color: #000;
}
button.button2 {
  background-color: Silver;
  color: #000;
  padding: 10px 11px;
  border-style: none;
}
button.button2:hover {
  background-color: Gainsboro;
  color: #000;
}
button.button3 {
  background-color: gray;
  color: #000;
  padding: 10px 16px;
  border-style: none;
}
button.button3:hover {
  background-color: DarkGray;
  color: #000;
}
button.button4 {
  background-color: gray;
  color: #000;
  padding: 10px 14px;
  border-style: none;
}
button.button4:hover {
  background-color: DarkGray;
  color: #000;
}
.block1{
  position: relative;
  padding: 0.35em 0.7em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  text-align: center;
}
.block1{
  background-size: 13px 10px;
}
.block2{
  position: relative;
  padding: 0.35em 0.7em;
  background: #668ad8;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}
.block2:hover{
  background-size: 13px 10px;
}
.cp_ipselect {
overflow: hidden;
width: 90%;
margin: 2em auto;
text-align: center;
}
.cp_ipselect select {
width: 100%;
padding-right: 1em;
cursor: pointer;
text-indent: 0.01px;
text-overflow: ellipsis;
border: none;
outline: none;
background: transparent;
background-image: none;
box-shadow: none;
-webkit-appearance: none;
appearance: none;
}
.cp_ipselect select::-ms-expand {
display: none;
}
.cp_ipselect.cp_sl01 {
position: relative;
border: 1px solid #bbbbbb;
border-radius: 2px;
background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
position: absolute;
top: 0.8em;
right: 0.9em;
width: 0;
height: 0;
padding: 0;
content: '';
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #666666;
pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
padding: 8px 38px 8px 8px;
color: #666666;
}
