body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
button.send {
  background-color: blue;
  color: #fff;
}
button.subsend {
  background-color: green;
  color: #fff;
}
button.reset {
  background-color: red;
  color: #fff;
}
button.button1 {
  background-color: white;
  color: #fff;
}
button.button2 {
  background-color: gray;
  color: #fff;
}
